<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="../static/homepage.css" th:href="@{/homepage.css}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&family=Leckerli+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>TEST PAGE</title>
</head>
<body>
    <div id="menu" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="content">
                    <div class="uk-navbar-left menu-left">
                        <ul class="uk-navbar-nav">
                            <li><a id="logo" href="#">Grzegorz Szczerba</a></li>
                            <li><p id="logo-desc">/fullstack</p></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right menu-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#cover" uk-scroll>home</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Resume</a></li>
                            <li><a href="#contact" uk-scroll>Contact</a></li>
                            <p class="separator">|</p>
                            <li><a href="#" uk-icon="github"></a></li>
                            <li><a href="#" uk-icon="linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="header">
        Nope
    </div>
    <div id="contact">
        <h1>CONTACT ME!</h1>
        <h2>
            I'm available for work even from this moment.
            <br>
            Drop me a line if you fancy a chat.
        </h2>
        <a class="email" href="#">gmszczerba@gmail.com</a>
    </div>
</body>
</html>
